body {
    font: 14px/1.5 "Roboto", Roboto, arial, sans-serif;
    color: #7B7B70;
}

.box {
    border: 1px solid #BBB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    float: left;
    position: relative;
    margin: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
    background: #BCBDAC;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: 10px solid #bbada0;
    padding: 5px;
    position: relative;
}
.box.active{
    background-color: rgba(255, 255, 0, 0.8);
}

.box.nactive{
    background-color: rgba(50, 50, 0, 0.2);
}
.box.disabled{
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.small {
    width: 70px;
    height: 70px;
}

.wide {
    width: 400px;
    height: 70px;
}

#scoreboard {
    font: 48px/1.5 "Roboto", Rboto, arial, sans-serif;
    width: 180px;
    border: 1px solid #BBB;
    text-align: center;
}
#gridcontainer {
    margin: 20 auto;
}
#nextlevel {
    animation: nextlevelShow 5s;
    -webkit-animation: nextlevelShow 5s; /* Chrome, Safari, Opera */
    width: 180px;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes nextlevelShow {
    from   {background:rgba(188,188,172,0)}
    to   {background:rgba(188,188,172,100);}
}

/* Standard syntax */
@keyframes nextlevelShow {
    from   {background:rgba(188,188,172,0);}
    to   {background:rgba(188,188,172,100);}
}