body {
    font: 14px/1.5 "Roboto", Roboto, arial, sans-serif;
    color: #7B7B7B;
    position: relative;
}

.box {
    border: 1px solid #BBB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    float: left;
    position: relative;
    margin: 5px;
}
.container {
    background: #BCBDAC;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: 10px solid #bbada0;
    padding: 5px;
    position: relative;
}
.box.active{
    background-color: rgba(255, 255, 0, 0.8);
}

.box.nactive{
    background-color: rgba(50, 50, 0, 0.2);
}
.box.disabled{
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.small {
    width: 70px;
    height: 70px;
}

.wide {
    width: 400px;
    height: 70px;
}

#scoreboard {
    font: 48px/1.5 "Roboto", Roboto, arial, sans-serif;
    width: 180px;
    border: 0px;
    margin: 10 auto;
    text-align: center;
}
#gridcontainer {
    margin: 20 auto;
}